<!-- create review popup -->
<div id="cr-container" class="popup">
    <!-- TODO: POST request for CR -->
    <form id="cr-form" class="cr-popup" method="post" enctype="multipart/form-data" action="/review/{{ sb.name }}/new">
        <div class="cr-header">
            <h1 class="cr-label">Create Review</h1>
            <span id="cr-popup-close" class="icon icon-md popup-x-i cr-x-i hov2">
        </div>
        <input type="text" name="rv-title" id="cr-title" class="required-field" placeholder="Title...">
        <textarea name="rv-body" id="cr-content" class="required-field" placeholder="What I think about this restaurant..."></textarea>
        <div class="cr-actions">
            <ul id="g-ul-clickable" class="cr-star-group hov3" data-stars="5"> </ul>
            <input type="hidden" id="cr-star-input" name="rv-stars" value="5">
            <!-- TODO: uh image yes -->
            <input id="cr-file" type="file" name="rv-images" accept="image/*" multiple>
            <label id="cr-file-label" for="cr-file" class="hov1">
                <span class="icon icon-md cr-img-i"></span><span id="cr-upload-text">0 IMGS</span>
            </label>
            <div class="cr-button-group">
                <button id="cr-cancel" type="button" class="popup-button cr-cancel hov1">CANCEL</button>
                <button id="cr-post" type="submit" class="popup-button cr-post hov1">POST</button>
            </div>
        </div>
    </form>
</div>

<!-- reviews -->
<div class = "pro-main">
    <div class ="pro-sidebar">
        <div class ="pro-sidebar-bg">
            <h2 class="sb-name">{{ sb.name }}</h2>
            <ul class="cr-star-group" data-stars="{{ sb.stars }}">
            </ul>
            <div class="sb-pic sb-resto hov1">
                <img src="/imgs/posters/{{ sb.poster }}" alt="">
            </div>
            <p class="sb-description">{{ sb.description }}</p>
            <div class="sb-stats">
                <p class="reviews"><span class="orange-bold">{{ sb.reviewCount }}</span> reviews</p>
                <p class="stars"><span class="orange-bold">{{ sb.stars }}</span> stars</p>
            </div>
            <div id="cr-popup-open" class="edit-div">
                <div class="edit-user create-review hov1">
                    <span class="icon plus-i"></span>
                    <p class="edit-user-text">CREATE REVIEW</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class ="pro-review-holder">
    <div id="sortfilter">
        {{> sortfilter}}
    </div>
    <ul id="pro-review-ul">

        {{#each reviews}}

        <li class="pro-review-li">
            <div class="pro-review-box">
                <div class="pro-actions">
                    <ul class="cr-star-group" data-stars="{{ stars }}"></ul>
                    <div class="pro-actions-like">
                        <span class="icon pro-like"></span>
                        <span class="pro-like-count" data-likes="{{ likeCount }}">{{ likeCount }}</span>
                        <span class="icon pro-dislike"></span>
                    </div>
                </div>
                <a href="/profile/id/{{ profileId.name }}"><img class="pro-review-icon" src ="/imgs/avatars/{{ profileId.avatar }}">
                    </img></a>
                    <div class = "pro-review-header" data-erms="{{ erms }}">
                    <div>
                        <p class="pro-review-location"><a href="/profile/id/{{ profileId.name }}" class="pro-user-link thov1">{{ profileId.name }}</a> on <a href="/resto/id/{{ restoId.name }}" class="pro-location-link bitalics thov1">{{ restoId.name }}</a> • <span class="pro-user-date" data-date="{{ lastUpdated }}"></span></p>
                        <h3 class ="pro-review-title bold">{{ title }}</h3>
                    </div>
                </div>
                <div class = "pro-review-text">{{ body }}</div>
                    <div class = "pro-review-images">
                    {{#each uploads}} <img src="/imgs/uploads/{{ this }}"> {{/each}}
                    </div>
            </div>
            {{#if hasOr}}
            <div class="pro-or-box">
                <div class = "pro-or-header">
                    <span class="icon pro-crown-i"></span>
                    <span class = "bold">Owner Response • <span class="pro-or-date" data-date="{{ ownersResponse.lastUpdated }}"></span></span>
                </div>
                <div class = "pro-or-text">{{ ownersResponse.body }}</div>
            </div>
            {{/if}}
        </li>

        {{/each}}

    </ul> 
</div>

<script src="/js/rating.js"></script>
<script src="/js/validateReview.js"></script>
<script src="/js/sf_resto.js"></script>
